<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

    <link rel="shortcut icon" href="/static/img/about_UI/favicon.ico" />
    <link rel="bookmark" href="/static/img/about_UI/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/top_info.css">
    <link rel="stylesheet" href="/static/css/head_band.css">
</head>
<body>
    <!-- 头部仿汽车之家的顶部信息栏 -->
    <div class="top_info clearfix">
        <div class="locate">
        </div>
        <div class="c0">
            <span class="c1"><i class="fa fa-location-arrow"></i>郑州</span>
            <span class="c2">切换 <i class="caret"></i></span>
        </div>
        {% for item in user_list %}
        <div class="login_register">

            <span class="c3" >您好!请</span>
            <a class="c5" href="/signup/">登录</a>
            <span class="c3">或</span>
            <a class="c5" href="/signup/">注册</a>
        </div>
        {% endfor %}
    </div>
    <!--此为第二行的菜单栏说明-->
    <div class="head_band clearfix">
        <!--此为新浪logo-->
        <div class="logo"></div>

        <!--此处应该有form表单或者ajax提交到搜索页面-->
        <div class="search">
            <form action="/searchPage/" method="post">
                <input type="text" placeholder="大家正在搜:Taylor Swift会有多少个男朋友?" name="condition"/>
                <button type="submit" class="fa fa-search fa-2x"></button>
            </form>
        </div>

        <!--此为几个主要菜单栏-->
        <div class="main_menu">
            <div class="linkPage">
                <a style="color: coral;" href="/index/">
                    <i class="fa fa-home fa-2x"></i>
                    <span>首页</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-youtube-play fa-2x"></i>
                    <span>视频</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-compass fa-2x"></i>
                    <span>发现</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-gamepad fa-2x"></i>
                    <span>游戏</span>
                </a>
            </div>

            <div class="myfunction">
                <div class="dropdown">
                  <i class="fa fa-envelope-o fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

                <div class="dropdown">
                  <i class="fa fa-cog fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

                <div class="dropdown">
                  <i class="fa fa-wrench fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

            </div>

        </div>

    </div>

</body>
</html>