<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="微博,中国Twitter">
    <meta name="description" content="微博是新浪旗下最大的SNS社交服务平台">
    <title>我的首页 微博-随时随地发现新鲜事</title>

    <link rel="shortcut icon" href="/static/img/about_UI/favicon.ico" />
    <link rel="bookmark" href="/static/img/about_UI/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/top_info.css">
    <link rel="stylesheet" href="/static/css/head_band.css">
    <link rel="stylesheet" href="/static/css/threePart.css">

    <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qqFace.js"></script>
    <script type="text/javascript" src="/static/js/commons.js"></script>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/Font-Awesome-master/css/font-awesome.css">
    <script type="text/javascript" src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <style type="text/css">

        @font-face {
            font-family: "MyNewFont",serif;
            src: url("/static/fonts/Apple-fonts/苹方黑体-中黑-简.ttf");
        }

        *{
            padding: 0;
            margin: 0;
        }
        i{
            cursor: pointer;
        }
        body{
            background-image: url("/static/img/about_UI/skin.png");
            background-size:1366px auto;
            font-family: "MyNewFont","Arial","Microsoft YaHei",serif;
        }
        .clearfix:after{
            content: '.';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
        }
        #p1{
            margin-top: 10px;
            margin-left: 12px;
            color: cornflowerblue;
        }
        .hide{
            display: none;
        }
        .emotion:hover{
            background-position:2px -28px;
        }

        .qqFace{
            margin-top:4px;
            background:#fff;
            padding:2px;
            border:1px #dfe6f6 solid;
        }
        .qqFace table td{
            padding:0;
        }
        .qqFace table td img{
            cursor:pointer;
            border:1px #fff solid;
        }
        .qqFace table td img:hover{
            border:1px #0066cc solid;
        }
        #image{
            border: 1px solid gainsboro;
            /*border: 1px solid black;*/
             height: 70px;
             width: 70px;
             float: left;
             border-radius: 3px;
             margin-top: -100px;
        }
        #files{
            font-size: 50px;
            width: 800px;
            height: 100px;
            opacity: 0;
            z-index: 99;
        }
    </style>
</head>
<body>

    <!-- 头部仿汽车之家的顶部信息栏 -->
    <div class="top_info clearfix">
        <div class="locate">
        </div>
        <div class="c0">
            <span class="c1"><i class="fa fa-location-arrow"></i>郑州</span>
            <span class="c2">切换 <i class="caret"></i></span>
        </div>
        {% for item in user_list %}
        <div class="login_register">

            <span class="c3" >您好!请</span>
            <a class="c5" href="/signup/">登录</a>
            <span class="c3">或</span>
            <a class="c5" href="/signup/">注册</a>
        </div>
        {% endfor %}
    </div>
    <!--此为第二行的菜单栏说明-->
    <div class="head_band clearfix">
        <!--此为新浪logo-->
        <div class="logo"></div>

        <!--此处应该有form表单或者ajax提交到搜索页面-->
        <div class="search">
            <form action="/searchPage/" method="post">
                <input type="text" placeholder="大家正在搜:Taylor Swift会有多少个男朋友?" name="condition"/>
                <button type="submit" class="fa fa-search fa-2x"></button>
            </form>
        </div>

        <!--此为几个主要菜单栏-->
        <div class="main_menu">
            <div class="linkPage">
                <a style="color: coral;" href="/index/">
                    <i class="fa fa-home fa-2x"></i>
                    <span>首页</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-youtube-play fa-2x"></i>
                    <span>视频</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-compass fa-2x"></i>
                    <span>发现</span>
                </a>
                <a href="javascript:void(0);">
                    <i class="fa fa-gamepad fa-2x"></i>
                    <span>游戏</span>
                </a>
            </div>

            <div class="myfunction">
                <div class="dropdown">
                  <i class="fa fa-envelope-o fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

                <div class="dropdown">
                  <i class="fa fa-cog fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

                <div class="dropdown">
                  <i class="fa fa-wrench fa-2x" data-toggle="popover" data-placement="bottom"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                </div>

            </div>

        </div>

</div>
    <!--此为主页面的样式显示-->
    <div class="threePart clearfix">
        <div class="bigMenu clearfix" >
            <div class="list-group">
                <a class="list-group-item" href="/index/">主页</a>
                <a class="list-group-item" href="javascript:void(0);">我的收藏</a>
                <a class="list-group-item" href="javascript:void(0);">我的赞</a>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-fire" style="margin-right:3px; "></i>热门微博</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-film"></i>热门视频</a>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-heart"></i>特别关注</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-odnoklassniki"></i>同事</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-odnoklassniki"></i>同学</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-odnoklassniki"></i>媒体</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-odnoklassniki"></i>体育</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-odnoklassniki"></i>事业</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-user-o"></i>群微博</a>
                <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-leaf"></i>悄悄关注</a>
            </div>
        </div>
        <div class="second clearfix">
            <div class="post clearfix">
                <p id="p1">有什么新鲜事想告诉大家?</p>
                <textarea class="input"
                          style="width:568px;height: 70px;border: 1px solid grey;margin: 4px 14px;resize: none;"
                          id="post_text"
                          name="post_text"
                          placeholder="Want to say something??">
                </textarea>
                <div class="c1">
                    <i class="fa fa-plus-square emotion" style="cursor: pointer;">表情</i>
                </div>

                <div class="c2">
                    <i class="fa fa-photo" style="cursor: pointer;" data-container="body" data-toggle="popover" title="本地上传"
                        data-placement="bottom" data-html="true"
                        data-content='
                            <div style="width:71px;height:71px;float:left;" id="addImage">
                                <form id="upload_file" enctype="multipart/form-data">
                                    <input type="file" id="files" name="head_img_change" onchange="PreviewMultipleFile(this);"
                                            multiple="multiple"/>
                                    <img id="image" src="/static/img/about_UI/add.png" draggable="true"/>
                                </form>
                            </div>
                        '
                        >图片</i>
                </div>
                <div class="c3">
                    <i class="fa fa-film" style="cursor: pointer;">视频</i>
                </div>
                <div class="c4">
                    <i class="fa fa-hashtag" style="cursor: pointer;">话题</i>
                </div>
                <div class="c5">
                    <i class="fa fa-link" style="cursor: pointer;">网页分享</i>
                </div>
                <div class="cMore">
                    <i class="fa fa-bars" style="cursor: pointer;">更多</i>
                </div>
                <div class="c6">
                    <div class="dropdown">
                      <i class="fa fa-angle-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">公开</i>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li onclick="TogglePostStatus(this);">公开</li>
                        <li onclick="TogglePostStatus(this);">仅自己可见</li>
                        <li onclick="TogglePostStatus(this);">好友圈可见</li>
                      </ul>
                    </div>
                </div>
                <div class="c7">
                    <button onclick="PostMessage(this);">发布</button>
                </div>
            </div>

            <div class="messageShow  clearfix">
                <!--从数据库中拿到数据,按照某种规则拜访,加上相关样式-->
                {% for weibo_item in detail_list %}
                    <div class="show1">
                        <div style="float: right;margin: 10px; color: grey;"><i class="fa fa-angle-down fa-2x"></i></div>
                        <div class="briefShow">
                            <img src="/{{weibo_item.user__head_img}}" id="photo_identity" class="img-rounded">
                            <p style="font-weight: bold;font-size: 18px;margin-left: 60px;margin-bottom: 3px;">{{ weibo_item.user__username}}</p>
                            <p style="margin-left: 60px;">{{ weibo_item.date }}</p>
                        </div>

                        <div class="textShow">
                            <p id="text_show" class="text_show" style="margin-left: 21px;">{{weibo_item.text}}</p>
                        </div>

                        <div class="weibo_menu">
                            <dd id="icollect"><i class="fa fa-star-o"  style="cursor: pointer;">收藏</i></dd>
                            <dd id="icomment" target="{{weibo_item.id}}" onclick="ToggleCommentArea(this)"><i class="fa fa-comment-o" style="cursor: pointer;">评论</i></dd>
                            <dd id="ishare"><i class="fa fa-share-alt" style="cursor: pointer;">分享</i></dd>
                            <dd id="ilike"><i class="fa fa-thumbs-o-up" style="cursor: pointer;">点赞</i></dd>
                        </div>

                        <div class="commentInfo hide">

                            <div class="commentPlace">
                                {% for user_item in user_list%}
                                <div class="set_myComment">
                                    <img src="/{{user_item.head_img}}" style="width: 30px;height: 30px;border: 1px solid grey;">
                                    <input type="text" style="width: 518px;height: 30px;"/>
                                    <button weibo_id="{{weibo_item.id}}" target="{{user_item.id}}" onclick="setComment(this);" class="btn btn-default" style="margin: 15px;float: right;">评论</button>
                                </div>
                                {% endfor %}

                                <div class="get_allComment" id="commentZone"> </div>

                            </div>

                        </div>

                    </div>
                {% endfor%}

            </div>

        </div>
        <div class="more clearfix">
            <div class="personal clearfix">
                {% for item in user_list %}
                <div class="personal_photo">
                    <a href="/user_profile/">
                    <img src="/{{item.head_img}}"
                        class="img-rounded"
                            style="float:left;width: 60px;height: 60px;border-radius:26px;position:relative;left:87px;top:35px;border: 1px solid white;">
                    </a>
                </div>
                <div class="personal_detail">

                    <div class="logined_user">{{ item.username}}</div>

                    <div class="follows_fans">
                        <dl >
                            <dt>{{follows.follows}}</dt>
                            <dd>关注</dd>
                        </dl>
                        <dl>
                            <dt>{{fans_num}}</dt>
                            <dd>粉丝</dd>
                        </dl>
                        <dl style="border: none;">
                            <dt>{{weibo_num.weibo_num}}</dt>
                            <dd>微博</dd>
                        </dl>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="topicList">
                <div class="hotTopic">
                    <span style="float: left">热门话题</span>
                    <span style="float: right"><i class="fa fa-refresh"></i>换一换</span>
                </div>
                <div class="topicShow">
                    <ul>
                        {% for item in topic_info %}
                        <li class="clearfix" style="list-style: none;">
                            <span style="padding-left:12px;float: left;padding-bottom: 4px;padding-top: 4px;">{{item.name}}</span>
                            <span style="float: right;margin-right: 3px;">{{item.readers}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="width: 233px;height: 48px;border-top: 1px solid grey;">
                    <span style="line-height: 48px;margin-left: 66px;">查看更多<i class="fa fa-angle-right"></i></span>
                </div>
            </div>

      </div>

    </div>

    <script type="text/javascript">

        $(function(){

            $('[data-toggle="popover"]').popover();
            //.on('shown.bs.popover',function() {});
            $('.login_register').html("<span class='c5'>欢迎你的到来</span>");

            $(".text_show").each(function() {
                $(this).html(replace_em($(this).text()));
            });

            $('.emotion').qqFace({
                assign:'post_text', //给输入框赋值
                path:'/static/img/face/'    //表情图片存放的路径
            });
        });

    </script>

</body>
</html>