.related_info{
    width: 920px;
    height: auto;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.fans_follows{
    width: 300px;
    height: 60px;
    background: aliceblue;

}
.tb_counter{
    width: 100%;
    text-align: center;
    table-layout: fixed;
    line-height: 30px;
}
.game{
    width: 300px;
    height: 60px;
    margin-top: 15px;
    text-align: center;
    line-height: 60px;
    background: white;
    /*border: 1px solid red;*/
}
.verify{
    width: 300px;
    height: 155px;
    margin-top: 15px;
    background: white;
    /*border: 1px solid red;*/
    /*padding: 7px;*/
}
.verify .onepart{
    line-height: 62px;
    width: 300px;
    height: 62px;
    /*border: 1px solid red;*/
    padding-left: 7px;
}
.verify .twopart{
    width: 275px;
    height: 58px;
    /*line-height: 58px;*/
    /*text-align: center;*/
    margin-left:7px;
    margin-right: 7px;
    border-top: 1px solid rgba(192,192,192,0.6);
    border-bottom: 1px solid rgba(192,192,192,0.6);
}
.verify .twopart .integrity{
    height: 4px;
    margin-top: 4px;
    border-radius: 2px;
    overflow: hidden;
    background-color:#f2f2f5;
    /*border: 1px solid red;*/
}
.verify .threepart{
    width: 300px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.verify .threepart span{
    cursor: pointer;
}
.thumb_up{
    width: 300px;
    height: 155px;
    background: white;
    margin-top:15px ;
}

.related_info2{
    float:left;
    height: 514px;
    width: 600px;
    /*border: 1px solid red;*/
    background-image:url("/static/img/about_UI/for_register.png");
    margin-left: 18px;
}

.btn,.btn-default{
    margin: 0 auto;
    color: aliceblue;
    background-color: orangered;
    margin-left: 20px;
}

.related_info2 .detail_personal_info{
    width:600px;
    height: 514px;
    /*border: 1px solid red;*/
    display: none;
}
.related_info2 .detail_personal_info .info_group div{
    width: 500px;
    background-color: darkgrey;
    /*height: 40px;*/
    margin: 4px 0;
    line-height: 40px;
}

.related_info2 .detail_personal_info img{
    width: 38px;
    height: 38px;
    /*border: 1px solid red;*/
}
