<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XXX的微博</title>
  <link rel="shortcut icon" href="/static/img/about_UI/favicon.ico" />
  <link rel="bookmark" href="/static/img/about_UI/favicon.ico" type="image/x-icon"/>
  <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/plugins/Font-Awesome-master/css/font-awesome.css">


  <link rel="stylesheet" href="/static/css/top_info.css">
  <link rel="stylesheet" href="/static/css/head_band.css">
  <link rel="stylesheet" href="/static/css/personal_homepage.css">
  <link rel="stylesheet" href="/static/css/related_info.css">
  <link rel="stylesheet" href="/static/css/bottom_info.css">

  <script type="text/javascript" src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <style type="text/css">

    *{
        padding: 0;
        margin: 0;
    }

    body{
        background-image: url("/static/img/about_UI/skin.png");
        background-size:1366px auto;
        font-family: "MyNewFont","Arial","Microsoft YaHei",serif;
    }
    .clearfix:after{
        content: '.';
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
  </style>
</head>
<body>
    <!-- 头部仿汽车之家的顶部信息栏 -->
    <div class="top_info clearfix">
    <div class="locate">
    </div>
    <div class="c0">
        <span class="c1"><i class="fa fa-location-arrow"></i>郑州</span>
        <span class="c2">切换 <i class="caret"></i></span>
    </div>
    <div class="login_register">
        <span class="c3" >您好!请</span>
        <a class="c5" href="/signup/">登录</a>
        <span class="c3">或</span>
        <a class="c5" href="/signup/">注册</a>
    </div>
</div>
    <!--此为第二行的菜单栏说明-->
    <div class="head_band clearfix">
        <!--此为新浪logo-->
        <div class="logo"></div>

        <!--此处就有form表单或者ajax-->
        <div class="search">

            <input type="text" placeholder="大家正在搜:为什么毕业答辩要等到六月份" name="condition"/>
            <button type="submit" class="fa fa-search fa-2x"></button>

        </div>

        <!--此为几个主要菜单栏-->
        <div class="main_menu">
            <div class="linkPage">
                <a href="javascript:void(0);"><i class="fa fa-home fa-2x"></i>&nbsp;首页</a>
                <a href="javascript:void(0);"><i class="fa fa-youtube-play fa-2x"></i>&nbsp;视频</a>
                <a href="javascript:void(0);"><i class="fa fa-compass fa-2x fa-fw"></i>&nbsp;发现</a>
                <a href="javascript:void(0);"><i class="fa fa-gamepad fa-2x fa-fw"></i>&nbsp;游戏</a>
            </div>

            <div class="myfunction">
                <div class="dropdown">
                  <i class="fa fa-envelope-o fa-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>功能1</li>
                    <li>功能2</li>
                  </ul>
                </div>

                <div class="dropdown">
                  <i class="fa fa-cog fa-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>功能3</li>
                    <li>功能4</li>
                  </ul>
                </div>
                <div class="fa fa-wrench fa-2x"></div>

            </div>

        </div>

</div>

    <div class="profile">
        <div class="personal_photo">
            <img src="" class="img-rounded" id="user_photo"/>
        </div>

        <div class="description">
            <span style="font-size: 20px;">新流苏没有满<i class="fa fa-venus sex_show"></i></span>
        </div>
        <div class="brief">
             <span>一句话介绍自己</span>
        </div>
        <div class="column">
            <table class="tb_tab" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td><a class="table_link" href="">我的主页</a></td>
                        <td><a class="table_link" href="">我的相册</a></td>
                        <td><a class="table_link" href="">管理中心</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="related_info clearfix">
        <div class="related_info1" style="height: 514px;width: 300px;float: left">
            <div class="fans_follows">
                <table  class="tb_counter" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <strong>30</strong>
                                <div>关注</div>
                            </td>
                            <td>
                                <strong>48</strong>
                                <div>粉丝</div>
                            </td>
                            <td>
                                <strong>1</strong>
                                <div>微博</div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="game">
                <span>集财神卡赢大奖</span>
                <span style="float: right;margin-right: 25px;">财神卡大厅&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
            </div>
            <div class="verify">
                <div class="onepart">
                    <a href="javascript:void(0);">申请认证</a>
                    <span>| Lv9</span>
                </div>
                <div class="twopart">
                    <p>个人资料完成度 35%</p>
                    <div class="integrity">
                        <div class="bar" style="height:4px;width: 35%;background-color: orangered"></div>
                    </div>
                </div>
                <div class="threepart">
                    <span>编辑个人资料&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
            <div class="thumb_up">
                <p>赞</p>
                <div>查看更多 ></div>
            </div>
        </div>
        <div class="related_info2"></div>
    </div>
    <div class="bottom_info">
        <div class="footer_link">
            <dl class="list">
                <dt>微博精彩</dt>
                <dd>
                    <a href="#">热门微博</a>
                    <a href="#">热门话题</a>
                </dd>
                <dd>
                    <a href="#">名人堂</a>
                    <a href="#">微博会员</a>
                </dd>
                <dd>
                    <a href="#">微相册</a>
                    <a href="#">微游戏</a>
                </dd>
                <dd>微指数</dd>
            </dl>
            <dl class="list">
                <dt>手机玩微博</dt>
                <dd>
                    <span><img src="/static/img/about_UI/footer_code.jpg" alt=""></span>
                    <a href="#">扫码点击这里下载</a>
                </dd>
            </dl>
            <dl class="list">
                <dt>认证&合作</dt>
                <dd>
                    <a href="#">申请认证</a>
                    <a href="#">链接网站</a>
                </dd>
                <dd>
                    <a href="#">企业微博</a>
                    <a href="#">广告服务</a>
                </dd>
                <dd>
                    <a href="#">微博标识</a>
                    <a href="#">广告代理商</a>
                </dd>
                <dd>开放平台</dd>
            </dl>
            <dl class="list">
                <dt>微博帮助</dt>
                <dd>
                    <a href="#">常见问题</a>
                    <a href="#">自助服务</a>
                </dd>
            </dl>
        </div>
        <div class="other_link">
            <p>微博客服</p>
            <p>京ICP证100780号</p>
            <p>广播电视节目制作经营许可证</p>
        </div>
    </div>





</body>
</html>